/data
/docs/*.md
!/docs/example-1.md
!/docs/example-2.md
!/docs/sample-markdown.md
!/docs/easydoc.md
/node_modules
/www/*.html
!/www/example-1.html
!/www/example-2.html
!/www/sample-markdown.html
/www/img/*.png
__notes.txt