@import "mixins";

// scss variables
$font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  "Open Sans", "Noto Sans", "Liberation Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-system: $font-family-sans-serif;

$font-family-monospace: Consolas, SFMono-Regular, Menlo, Monaco, "Liberation Mono", "Courier New", Courier, monospace;

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$navbar-height: 42px;

// css custom properties
:root, html[data-theme="dark"] {
  --clr-base: #267dff;

  --clr-base-l50: #3385ff;
  --clr-base-l75: #46525e;
  --clr-base-l100: #66a3ff;
  --clr-base-l150: #6a6d74;
  --clr-base-l170: #80848d;
  --clr-base-l200: #bbbec4;
  --clr-base-l250: #b8c0cc;
  --clr-base-l250-inv: #b8c0cc;
  --clr-base-l275: #c9e1ff;
  --clr-base-l300: #d0d5dd;
  --clr-base-l500: #fff;

  --clr-base-d50: #708cb7;
  --clr-base-d75: #657285;
  --clr-base-d100: #465d80;
  --clr-base-d200: #364a69;
  --clr-base-d230: #4c5664;
  --clr-base-d250: #353d48;
  --clr-base-d260: #272f3a;
  --clr-base-d300: #1f2733;
  --clr-base-d400: #171e26;
  --clr-base-d400-lw: #171e26;
  --clr-base-d410: #161c24;
  --clr-base-d420: #141a21;
  --clr-base-d450: #12181e;
  --clr-base-d480: #11151c;
  --clr-base-d500: #0e1117;
  --clr-base-d525: #0c111a;
  --clr-base-d550: #0c0f14;
  --clr-base-d600: #0b0e12;
  --clr-base-d700: #000;

  --clr-base-mark-active: #144389;
  --clr-base-mark-hover: #0f2f5e;

  --clr-base-sl-d500: #45484d;
  --clr-base-sl-d600: #2e3033;

  --clr-link: #2196f3;
  --clr-link-d200: #2085d8;

  --clr-code: #c468de;

  --clr-brand: #f30;
  --clr-brand-second: #267dff;
}

html[data-theme="light"] {
  --clr-base: #0068d9;
  --clr-base-l50: #a1afb9;
  --clr-base-l75: #a1afb9;
  --clr-base-l100: #004a99;
  --clr-base-l150: #8b8f95;
  --clr-base-l170: #72777f;
  // --clr-base-l200: #3b3f44;
  --clr-base-l200: #0d0d0d;
  --clr-base-l250: #333d47;
  --clr-base-l250-inv: #333d47;
  --clr-base-l275: #001c36;
  --clr-base-l300: #22282f;
  --clr-base-l500: #000000;

  --clr-base-d50: #486a8f;
  --clr-base-d75: #7a8a9a;
  --clr-base-d100: #7f9bb9;
  --clr-base-d200: #96aec9;
  --clr-base-d230: #9ba7b3;
  --clr-base-d250: #b7c0ca;
  --clr-base-d260: #c5ced8;
  --clr-base-d300: #ccd6e0;
  --clr-base-d400: #d9e1e8;
  --clr-base-d400-lw: #d9e1e8;
  --clr-base-d410: #dbe2e9;
  --clr-base-d420: #dee5eb;
  --clr-base-d450: #e1e8ed;
  --clr-base-d480: #e3e8ee;
  --clr-base-d500: #e8ecf1;
  --clr-base-d525: #e5ebf3;
  --clr-base-d550: #ebeff3;
  --clr-base-d600: #edf1f4;
  --clr-base-d700: #ffffff;

  --clr-base-mark-active: #4ea2ff;
  --clr-base-mark-hover: #a1c7f0;

  --clr-base-sl-d500: #b2b6ba;
  --clr-base-sl-d600: #ccced1;

  --clr-link: #0c92de;
  --clr-link-d200: #279bdf;

  --clr-code: #732197;

  --clr-brand: #f30;
  --clr-brand-second: #06c;
}

// reboot & basics
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: var(--clr-base-d600);
  @include scrollbars(16px, var(--clr-base-sl-d600), var(--clr-base-sl-d500), var(--clr-base-d600), 7px, 3px);
}
body {
  color: var(--clr-base-l200);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  // & *:focus {
  //   outline: 0;
  // }
}

// focusable
a[href]:not([tabindex^="-"]),
area[href]:not([tabindex^="-"]),
input:not([type="hidden"]):not([type="radio"]):not([disabled]):not([tabindex^="-"]),
input[type="radio"]:not([disabled]):not([tabindex^="-"]),
select:not([disabled]):not([tabindex^="-"]),
textarea:not([disabled]):not([tabindex^="-"]),
button:not([disabled]):not([tabindex^="-"]),
iframe:not([tabindex^="-"]),
audio[controls]:not([tabindex^="-"]),
video[controls]:not([tabindex^="-"]),
[contenteditable]:not([tabindex^="-"]),
[tabindex]:not([tabindex^="-"]) {
  &:focus {
    outline: 1px solid var(--clr-base-l150);
  }
}

hr {
  border: none;
  border-top: 1px solid var(--clr-base-d400);
  margin: 2rem auto 0;
}

table {
  border-collapse: collapse;
  background-color: var(--clr-base-d450);
}

tr:nth-child(2n) {
  background-color: var(--clr-base-d400);
}

tr:hover {
  background-color: var(--clr-base-d500);
}

th,
td {
  text-align: left;
  border: 1px solid var(--clr-base-d250);
  padding: 0.5rem;
}
th {
  background-color: var(--clr-base-d300);
}

dt {
  font-weight: bold;
  margin-top: 1rem;
}

code {
  color: var(--clr-code);
}
a code {
  color: var(--clr-link);
}

::placeholder {
  color: var(--clr-base-l75);
}

// variable font settings
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Encode Sans";
    src: url("../fonts/EncodeSans.woff2") format("woff2");
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
  }

  $font-family-sans-serif: "Encode Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Noto Sans", "Liberation Sans", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  html,
  body {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-regular;
  }

  button {
    font-family: $font-family-sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: $font-weight-medium;
  }

  dt {
    font-weight: $font-weight-semibold;
  }

  b,
  strong {
    font-weight: $font-weight-semibold;
  }

  em,
  i,
  .italic {
    font-style: italic;
    font-family: $font-family-system;
  }
}

// utilities

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.justify-content-center {
  justify-content: center !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cp {
  cursor: pointer;
}

.fs-lg {
  font-size: 1.5rem !important;
}
.fs-xl {
  font-size: 2rem !important;
}
.fs-xxl {
  font-size: 2.5rem !important;
}

// bi svg icons
.bi {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
}

.mw-800 {
  max-width: 800px !important;
}

.mw-80ch {
  max-width: 80ch !important;
}

.hidden {
  display: none !important;
}

// layout

// brand
.brand {
  padding: 0 0.27rem 0 0;
  color: var(--clr-brand);
}
.brand-second {
  padding: 0 0.27rem 0 0;
  color: var(--clr-brand-second);
}
html[data-theme="light"] {
  .brand, .brand-second {
      font-weight: 500;
  }
}

// navigation bar
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: $navbar-height;
  padding: 0 0 0 0.4rem;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-base-d600);
  border-bottom: 1px solid var(--clr-base-d400);
  line-height: 1;
  &.no_brand {
    justify-content: end;
  }
  .navbar__brand {
    display: block;
    margin-right: 0.75rem;
    padding: 0.35rem 0.35rem;
    font-stretch: semi-expanded;
    font-size: 1rem;
    line-height: 1.125;
    text-decoration: none;
    border-radius: 6px;
    @media (max-width: 369px) {
      font-size: 0.85rem;
      margin-right: 0;
    }
    @media (min-width: 402px) {
      line-height: 1;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

body a.navbar__brand[href]:not([tabindex^="-"]):focus {
  outline: 1px solid var(--clr-base-mark-active);
}

.navbar__controls {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  .navitem {
    color: var(--clr-base-l200);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .25rem 0;
    align-items: center;
    justify-content: center;
    .navitem-title {
      font-size: 0.85rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.05em;
      padding-left: 0.35rem;
      font-stretch: 50%;
      display: none;
      @media (min-width: 480px) {
        display: block;
      }
    }
    &:not([disabled]):not([tabindex^="-"]):focus {
      outline: 0;
      background-color: var(--clr-base-mark-active);
      color: var(--clr-base-l500);
    }
  }
  .theme-toggle {
    width: 24px;
    height: 24px;
    margin: 8px 6px 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &::after {
      position: absolute;
      z-index: 1;
      content: "";
      top: 0;
      left: 0;
      width:24px;
      height:48px;
      margin: 0;
      fill: currentColor;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 32'%3E%3Cpath fill='%23c30' d='m 8,12 a 4,4 0 1 0 0,-8 4,4 0 0 0 0,8 z m 0,-12 a 0.5,0.5 0 0 1 0.5,0.5 v 2.00004 a 0.5,0.5 0 0 1 -1,0 V 0.5 A 0.5,0.5 0 0 1 8,0 Z m 0,13 a 0.5,0.5 0 0 1 0.5,0.5 v 2 a 0.5,0.5 0 0 1 -1,0 v -2 a 0.5,0.5 0 0 1 0.5,-0.5 z M 16,8 a 0.5,0.5 0 0 1 -0.5,0.5 h -2 a 0.5,0.5 0 0 1 0,-1 h 2 a 0.5,0.5 0 0 1 0.5,0.5 z m -13,0 a 0.5,0.5 0 0 1 -0.5,0.5 H 0.5 a 0.5,0.5 0 0 1 0,-1 H 2.5 a 0.5,0.5 0 0 1 0.5,0.5 z M 13.657056,2.34305 a 0.5,0.5 0 0 1 0,0.70701 l -1.414,1.41504 a 0.50028,0.5003 0 1 1 -0.707,-0.70802 l 1.414,-1.41403 a 0.5,0.5 0 0 1 0.707,0 z m -9.193,9.1932 a 0.5,0.5 0 0 1 0,0.70701 l -1.414,1.41403 a 0.5,0.5 0 0 1 -0.707,-0.70701 l 1.414,-1.41403 a 0.5,0.5 0 0 1 0.707,0 z m 9.1930006,2.12104 a 0.5,0.5 0 0 1 -0.707,0 l -1.414,-1.41403 a 0.5,0.5 0 0 1 0.707,-0.70701 l 1.414,1.41403 a 0.5,0.5 0 0 1 0,0.70701 z M 4.4640554,4.4651 a 0.5,0.5 0 0 1 -0.707,0 l -1.414,-1.41504 a 0.5,0.5 0 1 1 0.707,-0.70701 l 1.414,1.41403 a 0.5,0.5 0 0 1 0,0.70802 z' /%3E%3Cpath fill='%23f90' d='m 2.2080036,22.800132 a 0.5760241,0.61440984 0 0 0 0.6435204,0.06397 5.4062261,5.7664924 0 0 1 2.5951129,-0.702405 c 3.0158726,0 5.4579741,2.622439 5.4579741,5.854494 0,0.421602 -0.04126,0.832009 -0.120002,1.226412 a 0.59027469,0.62961009 0 0 0 0.237012,0.648014 0.549773,0.5864094 0 0 0 0.669779,-0.02483 6.2620119,6.679307 0 0 0 2.308592,-5.190481 C 13.999992,20.987246 11.214374,18 7.7822307,18 5.1991249,18 2.9835348,19.691225 2.0444928,22.099262 a 0.5640236,0.60160964 0 0 0 0.1635108,0.700814 z' /%3E%3C/svg%3E");
      background-size: 24px 48px;
      transform-origin: 50% 50%;
      transition: all 1s ease 0s;
    }
    &:not([disabled]):not([tabindex^="-"]):focus {
      outline: 2px solid var(--clr-base-mark-active);
      outline-offset: 4px;
    }
  }
  .theme-toggle.dark::after {
    transform: rotate(-180deg);
  }
  button.burger:not([disabled]):not([tabindex^="-"]):focus {
    outline: 0;
    background-color: var(--clr-base-mark-active);
    color: var(--clr-base-l500);
  }
}

.burger {
  display: block;
  padding: 9.5px;
  width: 42px;
  font-size: xx-small;
  line-height: 0.1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation-delay: 500ms;
  animation: BURGER_FADE_IN 1s linear forwards;
  .burger__line {
    display: block;
    margin: 4px 0;
    height: 2px;
    width: 100%;
    background-color: var(--clr-base-l250);
    border-radius: 2px;
    transition: all 0.3s linear;
  }
  &.open {
    > .burger__line-1 {
      transform: translateY(6px) rotateZ(45deg);
    }
    > .burger__line-2 {
      transform: translateX(11.5px);
      opacity: 0;
      width: 0;
    }
    > .burger__line-3 {
      transform: translateY(-6px) rotateZ(-45deg);
    }
  }
}

@keyframes BURGER_FADE_IN {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  40% {
    transform: translateX(0);
  }
  to {
    opacity: 1;
  }
}

// navigation drawer
.navigation-drawer {
  position: fixed;
  top: $navbar-height;
  right: 0;
  bottom: 0;
  width: 100vw;
  max-width: 414px;
  overflow-y: auto;
  display: none;
  flex-direction: column;
  justify-content: start;
  padding: 1.5rem;
  z-index: 100;
  transition: transform 0.5s ease-out;
  transform: translateX(100%);
  background-color: var(--clr-base-d600);
  border-left: 1px solid var(--clr-base-d400);
  @include scrollbars(10px, var(--clr-base-sl-d600), var(--clr-base-sl-d500), var(--clr-base-d600), 7px, 3px);
  .nav-title {
    margin: 0 0 0.75rem;
    font-weight: $font-weight-extralight;
    font-stretch: 125%;
    font-size: 1.5rem;
    color: var(--clr-base-l75);
  }
  .toc {
    display: flex;
    justify-content: center;
    background-color: var(--clr-base-d500);
    border-radius: 6px;
    border: 1px solid var(--clr-base-d400);
    padding: 0.75rem 0;
    ul li {
      a {
        border-left: 2px solid transparent;
        border-radius: 0;
        &.intersecting {
          border-color: var(--clr-base-mark-active);
        }
        &.intersecting-after {
          border-color: var(--clr-base-mark-active);
        }
      }
      a:focus {
        outline: none;
        color: var(--clr-link);
      }
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        display: inline-block;
        width: 100%;
        padding: 0.4rem 0.5rem;
        font-size: 1.25rem; //0.875rem;
        font-weight: 400;
        line-height: 1;
        text-decoration: none;
        color: var(--clr-base-l250);
        border-radius: 6px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.25s ease-in-out;
        &:hover,
        &.active:hover {
          color: var(--clr-link);
        }
        &:active {
          color: var(--clr-link-d200);
        }
        &.active {
          color: var(--clr-link-d200);
        }
        &:focus {
          outline: none;
          color: var(--clr-link);
        }
      }
      h3 {
        margin-bottom: 0.75rem;
        font-weight: $font-weight-extralight;
        font-stretch: 125%;
        font-size: 1.5rem;
        color: var(--clr-base-l75);
      }
      ul {
        li {
          a {
            padding-left: 1.5rem;
            font-size: 1.125rem;
          }
          ul {
            li {
              a {
                padding-left: 2.5rem;
                font-size: 1rem;
              }
              ul {
                li {
                  a {
                    padding-left: 3.5rem;
                    font-size: 0.875rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // sitenav
  .sitenav {
    padding: 1.5rem 0;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 0.75rem;
        a {
          display: inline-block;
          width: 100%;
          padding: 0.4rem 0.5rem;
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1;
          text-align: center;
          text-decoration: none;
          color: var(--clr-base-l250);
          background-color: var(--clr-base-d400);
          border-radius: 6px;
          border: 1px solid var(--clr-base-d300);
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
          &:hover,
          &.active:hover,
          &:focus,
          &.active:focus {
            outline: 0;
            background-color: var(--clr-base);
            border-color: var(--clr-base-l100);
            color: var(--clr-base-l500);
          }
          &:active {
            background-color: var(--clr-base);
            color: var(--clr-base-l500);
          }
          &.active {
            background-color: var(--clr-base-d200);
            border: 1px solid var(--clr-base-d100);
            color: var(--clr-base-l250-inv);
          }
        }
      }
    }
  }

}

// details
details {
  margin: 1rem auto;
  background-color: var(--clr-base-d480);
  border-radius: 6px;
  padding: 1px;
  border: 1px solid var(--clr-base-d400);
  padding: 0 1rem;
}
summary {
  cursor: pointer;
  background-color: var(--clr-base-d500);
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  // font-size: 1rem;
  // font-size: clamp(0.75rem, 2.6667vw, 1rem);
  margin: 0 -1rem;
  &:hover {
    background-color: var(--clr-base-d480);
  }
  &:focus {
    outline: 1px solid var(--clr-base-d250);
    background-color: var(--clr-base-d480);
  }
  &::marker
  {
    color: var(--clr-base-l50);
  }
}
details[open] {
  border: 1px solid var(--clr-base-d400);
  summary {
    border-bottom: 1px solid var(--clr-base-d400);
    &::marker
    {
      color: var(--clr-base-l500);
    }
  }
}

// contents
.page {
  display: block;
  padding-top: $navbar-height + 24px;
  transition: margin 0.5s ease-out;
}
body>.page:first-child {
  padding-top: 2rem;
}
.page > .mtime {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  background-color: var(--clr-base-d500);
  font-size: 0.6rem;
  line-height: 1;
  text-align: right;
  color: var(--clr-base-l250);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: 1px solid var(--clr-base-d400);
  border-right: 1px solid var(--clr-base-d400);
  border-bottom: 1px solid var(--clr-base-d420);
  border-left: 1px solid var(--clr-base-d400);
}
.page > .content,
.cookie-consent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1.5rem 1rem;
  background-color: var(--clr-base-d500);
  border-right: 1px solid var(--clr-base-d400);
  border-left: 1px solid var(--clr-base-d400);
  font-size: 1rem;
  [id], details {
    scroll-margin-top: $navbar-height + 16px;
  }
  [id]:focus-visible {
    outline: 1px solid var(--clr-base-d250);
    // outline-offset: 0.5em;
    border-radius: 6px;
  }
  h1[id]:focus-visible,
  h2[id]:focus-visible,
  h3[id]:focus-visible,
  h4[id]:focus-visible,
  h5[id]:focus-visible,
  h6[id]:focus-visible {
    outline-offset: 0.5em;
  }
  p, ul, li, dt, dd, blockquote, pre, table, details {
    font-size: 1rem;
    font-size: clamp(0.85rem, 1.3333vw, 1rem);
  }
  a,
  a code,
  p a code {
    color: var(--clr-link);
    text-decoration: none;
  }
  a:hover,
  a code:hover,
  p a code:hover {
    text-decoration: underline;
  }
  a.brand-link:hover {
    text-decoration: none;
  }
  a[href]:not([tabindex^="-"]):focus {
    outline: 0;
    // border-bottom: 1px solid var(--clr-link);
    text-decoration: underline;
  }
  h1 + hr {
    margin-top: 0.25rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: $navbar-height + 16px;
    // margin: 0.25em 0;
    // padding: 0.25em 0;
  }
  h1 > a,
  h2 > a,
  h3 > a,
  h4 > a,
  h5 > a,
  h6 > a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    code {
      color: var(--clr-code);
      &:hover {
        text-decoration: none;
      }
    }
    &[href]:not([tabindex^="-"]):focus {
      outline: 0;
      text-decoration: none;
      border-bottom: 1px solid var(--clr-base-l200);
    }
  }

  h1 {
    font-size: 2.5rem;
    // font-size: clamp(1.5rem, 6.6667vw, 2.5rem);
    font-size: clamp(1.5rem, 3.3333vw, 2.5rem);
    line-height: 1.25;
    margin: 0.67em 0;
    font-weight: $font-weight-extralight;
    font-stretch: 112.5%;
    color: var(--clr-base-l250);
  }

  >h1:first-child {
    margin: 0;
    padding: 1rem 0;
  }

  h2 {
    font-size: 1.5rem;
    // font-size: clamp(1.25rem, 5.5556vw, 1.5rem);
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    line-height: 1.25;
    margin: 0.83em 0;
    font-weight: 400;
  }
  h3 {
    font-size: 1.17rem;
    // font-size: clamp(1rem, 4.4444vw, 1.17rem);
    font-size: clamp(1rem, 1.56vw, 1.17rem);
    line-height: 1.25;
    margin: 1em 0;
  }
  h4 {
    font-size: 1rem;
    font-size: clamp(0.85rem, 1.3333vw, 1rem);
    line-height: 1.25;
    margin: 1.33em 0;
  }
  h5 {
    font-size: 0.83rem;
    font-size: clamp(0.75rem, 1.1067vw, 0.83rem);
    line-height: 1.25;
    margin: 1.67em 0;
    font-weight: 600;
    // font-weight: 700;
    font-stretch: semi-expanded;
  }
  h6 {
    font-size: 0.67rem;
    line-height: 1.25;
    margin: 2.33em 0;
    font-weight: 800;
    font-stretch: expanded;
  }

  h1 + h5 {
    margin-top: -1.25em;
  }
  h2 + h5 {
    margin-top: -1em;
  }
  h3 + h5 {
    margin-top: -0.75em;
  }
  h4 + h5 {
    margin-top: -1em;
  }

  h1 + h6 {
    margin-top: -1.25em;
  }
  h2 + h6 {
    margin-top: -1em;
  }
  h3 + h6 {
    margin-top: -0.75em;
  }
  h4 + h6 {
    margin-top: -1em;
  }

  p {
    margin: 1em 0;
  }

  ul {
    padding-left: 1.25em;
  }
  ol {
    // padding-left: 1.25em;
    padding-left: 1.65em;
    li {
      list-style-type: decimal-leading-zero;
      &.footnote-item {
        list-style-type: inherit;
      }
    }
  }

  dl, table {
    margin: 1em 0;
  }

  dd {
    margin-left: 1.5em;
  }

  >p:first-child,
  >*:first-child {
    margin-top: 0;
  }

  img {
    max-width: 100%;
    border-radius: 6px;
    border: 1px solid var(--clr-base-d400);
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }

  .img-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    img {
      margin: 0;
    }
  }

  // code blocks
  pre[class*="language-"] {
    border-radius: 6px;
    padding-top: 2.5rem;
    font-size: 0.85rem;
    @include scrollbars(10px, var(--clr-base-sl-d600), var(--clr-base-sl-d500), var(--clr-base-d600), 7px, 3px);
    code {
      display: block;
    }
  }
  code[class*="language-"],
  pre[class*="language-"] pre,
  pre code {
    white-space: pre-wrap;
    // display: block;
  }

  .no-line-numbers code[class*="language-"],
  .no-line-numbers pre[class*="language-"] pre,
  .no-line-numbers pre code {
    white-space: pre;
  }

  pre[class*=language-].line-numbers {
    white-space: pre-wrap !important;
  }

  .line-numbers .line-numbers-rows {
    border-right: 1px solid var(--clr-base-d250);
    pointer-events: inherit;
    &>span:before {
      color: var(--clr-base-l150);
    }
  }

  .line-numbers.linkable-line-numbers .line-numbers-rows>span {
    cursor: pointer;
  }

  .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-top: 2.5rem;
    background: #6a85a40d;
    border-left: 2px solid #b15c15;
    pointer-events: none;
    line-height: inherit;
    white-space: pre;
    scroll-margin-top: $navbar-height + 16px;
  }
  .line-highlight.temporary {
    background-color: #6a85a40d;
    border-left: 2px solid #15b12a;
  }


  // command-line
  .command-line {
    code {
      white-space: pre;
    }
    .command-line-prompt {
      border-right: 1px dashed #32383e;
      letter-spacing: -0.03em;
    }
    span.token.output {
     opacity: 0.6;
     font-size: 0.68rem;
     padding-right: 0.25rem;
   }

  }
  // .command-line span.token.output:before {
  //   content: "$";
  //   opacity: 0.6;
  //   font-size: 0.68rem;
  //   padding-right: 0.25rem;
  // }
  // .command-line span.token.output:after {
  //   content: "";
  // }

  // language specific, language: filetree
  code[class*=language-filetree],
  pre[class*=language-filetree] {
    color: var(--clr-base-l275);
    font-size: 0.85rem;
    line-height: 1.25;
    white-space: pre;
  }

  .markdown-codeblock pre code {
      /* color: #f0f0ff; */
      color: #ccc;
      background: none;
      font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
      font-size: 1em;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
  }

  ul.contains-task-list {
    list-style-type: none;
    padding: 0 !important;
  }

  input[type=checkbox].task-list-item-checkbox {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    background-color: var(--clr-base-d100);
    border-radius: 6px;
    border: 2px solid var(--clr-base-d50);
    display: inline-block;
    vertical-align: middle;
    margin: 0.25rem 0.25rem 0.25rem 0;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    &:disabled {
      -webkit-appearance: none;
      appearance: none;
    }
    &:checked {
      background-color: #060;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
      // bootstrap icon:
      // background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' class='bi bi-check' viewBox='0 0 16 16'><path d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/></svg>");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0.85rem;
      border-color: #008500;
    }
  }

  // .footnotes-list,
  .footnote-ref a {
    scroll-margin-top: $navbar-height + 16px;
  }

}

// footer
.page > .footer {
  max-width: 1200px;
  margin: 0 auto 1rem;
  padding: 0.25rem 1.5rem;
  background-color: var(--clr-base-d500);
  border-top: 1px solid var(--clr-base-d420);
  border-right: 1px solid var(--clr-base-d400);
  border-left: 1px solid var(--clr-base-d400);
  border-bottom: 1px solid var(--clr-base-d400);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

// media min-width
@media (min-width: 480px) {
  .page > .mtime {
    padding: 0.5rem 2.5rem;
  }
  .page > .content {
    padding: 1rem 2.5rem 1rem;
  }
  .page > .footer {
    padding: 0.25rem 1.5rem;
  }
}

.brand-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  // font-size: clamp(0.75rem, 1.6667vw, 1rem);
  &:hover {
    text-decoration: none;
  }
}

.logo {
  background-color: var(--clr-base-d600);
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  border: 2px solid var(--clr-base-d400);
}

/* custom container */

.custom-conatiner {
  --cc-info-brd: #4a42b9;
  --cc-info-link: #5a66ed;
  --cc-info-bg: #1b1e3f;
  --cc-tip-brd: #2b7855;
  --cc-tip-link: #42b983;
  --cc-tip-bg: #163c2b;
  --cc-warning-brd: #a38800;
  --cc-warning-link: #ffdf41;
  --cc-warning-bg: #423700;
  --cc-danger-brd: #c00;
  --cc-danger-link: #ff4747;
  --cc-danger-bg: #3d0d11;
  --cc-line-brd: #b15c15;
  --cc-line-link: #b15c15;
  --cc-line-bg: #2d1d10;

  margin: 1rem 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  background-color: var(--clr-base-d410);
  color: var(--clr-base-l250);
  &[tabindex]:not([tabindex^="-"]):focus {
    outline: 1px solid #9fa0a8;
  }
  .custom-conatiner-title {
    padding: 0.35rem 1rem;
    font-size: 1rem;
    font-size: clamp(.85rem,1.3333vw,1rem);
    font-weight: 500;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: var(--clr-base-l300);
  }
  .custom-conatiner-body {
    padding: 0.25rem 1rem;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    & a[href]:not([tabindex^="-"]):focus {
      border-bottom: 0;
      text-decoration: underline;
    }
  }
  &.info {
    border-color: var(--cc-info-brd);
    &[tabindex]:not([tabindex^="-"]):focus {
      outline: 1px solid var(--cc-info-brd);
    }
    a {
      color: var(--cc-info-link);
    }
    .info-title {
      background-color: var(--cc-info-bg);
      border-bottom-color: var(--cc-info-brd);
    }
  }
  &.tip {
    border-color: var(--cc-tip-brd);
    &[tabindex]:not([tabindex^="-"]):focus {
      outline: 1px solid var(--cc-tip-brd);
    }
    a {
      color: var(--cc-tip-link);
    }
    .tip-title {
      background-color: var(--cc-tip-bg);
      border-bottom-color: var(--cc-tip-brd);
    }
  }
  &.warning {
    border-color: var(--cc-warning-brd);
    &[tabindex]:not([tabindex^="-"]):focus {
      outline: 1px solid var(--cc-warning-brd);
    }
    a {
      color: var(--cc-warning-link);
    }
    .warning-title {
      background-color: var(--cc-warning-bg);
      border-bottom-color: var(--cc-warning-brd);
    }
  }
  &.danger {
    border-color: var(--cc-danger-brd);
    &[tabindex]:not([tabindex^="-"]):focus {
      outline: 1px solid var(--cc-danger-brd);
    }
    a {
      color: var(--cc-danger-link);
    }
    .danger-title {
      background-color: var(--cc-danger-bg);
      border-bottom-color: var(--cc-danger-brd);
    }
  }
  &.line {
    border-color: var(--cc-line-brd);
    &[tabindex]:not([tabindex^="-"]):focus {
      outline: 1px solid var(--cc-line-brd);
    }
    a {
      color: var(cc-line-link);
    }
    .line-title {
      // background-color: #371c06;
      background-color: var(--cc-line-bg);
      border-bottom-color: var(--cc-line-brd);
    }
  }
}

html[data-theme="light"] {
  .custom-conatiner {
    --cc-info-brd: #4648bd;
    --cc-info-link: #122aa5;
    --cc-info-bg: #c0c6e4;
    --cc-tip-brd: #87d4aa;
    --cc-tip-link: #46bd7d;
    --cc-tip-bg: #c3e9d5;
    --cc-warning-brd: #ffd65c;
    --cc-warning-link: #be8e00;
    --cc-warning-bg: #ffeebd;
    --cc-danger-brd: #ff3344;
    --cc-danger-link: #b8000f;
    --cc-danger-bg: #f2c2ca;
    --cc-line-brd: #ea884e;
    --cc-line-link: #ea884e;
    --cc-line-bg: #efddd2;
  }
}

/* flowchart */

.flowchart {
  text-align: center;
  font-size: 0px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  padding: 10px;
}
.flowchart > svg {
  max-width: 100%;
  height: auto;
}

/* clean-css ignore:start */
// .operation-element,
// .parallel-element,
// .subroutine-element {
//   rx: 5;
//   ry: 5;
// }
/* clean-css ignore:end */

// checklists
.checklist ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

// prismjs overrides
.page > .content {
  div.code-toolbar {
    margin: 1rem 0;
  }
  div.code-toolbar>.toolbar>.toolbar-item {
    margin-left: 0.5rem;
  }
  div.code-toolbar>.toolbar>.toolbar-item>a,
  div.code-toolbar>.toolbar>.toolbar-item>button {
    padding: .25rem 0.75rem;
    color: var(--clr-base-l200);
  }
  div.code-toolbar>.toolbar span {
    color: var(--clr-base-l200);
    font-size: 0.85rem;
    padding: 0;
  }
  div.code-toolbar>.toolbar>.toolbar-item>a,
  div.code-toolbar>.toolbar>.toolbar-item>button,
  div.code-toolbar>.toolbar>.toolbar-item>span {
    color: var(--clr-base-l170);
    // font-size: .75rem;
    // padding: 0 .5em;
  }
  div.code-toolbar>.toolbar>.toolbar-item>span {
    background: none;
  }
  :not(pre)>code[class*=language-],
  pre[class*=language-] {
    background: var(--clr-base-d420);
    outline-width: 1px;
    outline-style: solid;
    // outline-color: var(--clr-base-d260);
    outline-color: var(--clr-base-d300);
    &:focus {
      outline-color: var(--clr-base-d250);
    }
  }
  div.code-toolbar>.toolbar>.toolbar-item>button:focus {
    outline-color: var(--clr-base-l170);
  }
}

/* modal */

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.88);
  display: flex;
  align-items: center;
  justify-content: center;
  @include scrollbars(10px, var(--clr-base-sl-d600), var(--clr-base-sl-d500), var(--clr-base-d600), 7px, 3px);
}

@keyframes open {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

// lightbox
.lightbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .caption {
    background-color: var(--clr-base-d400);
    margin: 1rem 0 0;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    // color: #fff;
    color: var(--clr-base-l200);
    text-align: center;
  }
}

.open .lightbox img,
.open .lightbox .caption {
  transform: scale(0);
  animation: open 250ms ease 0s 1 normal forwards;
}

.willclose .lightbox img,
.willclose .lightbox .caption {
  transform: scale(0);
  transition-duration: 250ms;
  transition-property: transform;
}

// dialog
.modal-dialog {
  width: 100%;
  max-width: 1200px;
  align-self: flex-start;
  margin: 1.5rem 0;
  .modal-content {
    background-color: var(--clr-base-d500);
    border-radius: 6px;
    border: 1px solid var(--clr-base-d400);
    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--clr-base-d400);
      .modal-title {
        padding: 0;
        margin: 1rem;
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--clr-base-l200);
        line-height: 1;
      }
      .modal-controls {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .modal-reset {
          min-height: 32px;
          .bi {
            height: 23px;
            width: 32px;
            vertical-align: initial;
          }
        }
      }
      .modal-close {
        margin: 0 0.6rem 0 0;
        padding: 0;
        font-size: 2rem;
        line-height: 1;
        color: var(--clr-base-l250);
        background: var(--clr-base-d500);
        border: 1px solid var(--clr-base-d400);
        border-radius: 6px;
        cursor: pointer;
        &:hover {
          color: var(--clr-base-l500);
          background: var(--clr-base-d600);
        }
      }
    }
    .modal-body {
      padding: 1rem;
      color: var(--clr-base-l200);
    }
    .modal-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid var(--clr-base-d400);
      padding: 1rem;
    }
  }
}

.open .modal-dialog {
  transform: scale(0);
  animation: open 250ms ease 0s 1 normal forwards;
}

.willclose .modal-dialog {
  transform: scale(0);
  transition-duration: 250ms;
  transition-property: transform;
}

// tag navigation strat button
.btn-tag-nav {
  margin: 0;
  padding: 0 9.5px;
  border: 0;
  line-height: 1;
  // color: #fff;
  background: transparent;
  font-size: 1.25rem;
  cursor: pointer;
  // border-radius: 4px;
}

// tag cloud & tag navigation
// TODO: use a variable for colors below
.tag-cloud,
.tag-navigation {
  .tag {
    background-color: var(--clr-base-d300);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0.3em 0.6em;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    color: var(--clr-base-l200);
    &.active {
      color: var(--clr-base-l500);
      background-color: var(--clr-base-mark-active);
      background-color: var(--clr-base-mark-active);
      &:hover {
        color: var(--clr-base-l500);
        background-color: var(--clr-base-mark-active);
        background-color: var(clr-base-mark-active);
      }
    }
    &:hover {
      background-color: var(--clr-base-mark-hover);
      // background-color: var(--clr-base-mark-hover);
    }
    .bi {
      margin-right: 0.3em;
    }
  }
}

// tag cloud
.tag-cloud-details {
  background-color: var(--clr-base-d550);
}

.tag-cloud-header,
.tag-navigation-header {
  display: flex;
  gap: 1rem 1rem;
  flex-wrap: wrap;
  margin: 1rem 0;
  border-bottom: 1px solid var(--clr-base-d400);
  padding-bottom: 1rem;
}

.tag-cloud-filter,
.tag-cloud-sort,
.page-filter,
.page-filter-fulltext,
.tag-navigation-sort {
  display: flex;
}

.tag-cloud-filter,
.page-filter {
  flex-grow: 1;
}

.tag-cloud-sort,
.tag-navigation-sort {
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}

.input-group {
  display: flex;
  flex-grow: 1;
}

.filter-label,
.sort-label,
.order-label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: var(--clr-base-d550);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid var(--clr-base-d400);
  border-right: 0;
  cursor: pointer;
  // select not first-child
  &:not(:first-child) {
    margin-left: 1rem;
  }
  .description {
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0 0 0 0.5rem;
  }
}

.page-filter-fulltext.active {
  flex-grow: 1;

  label svg {
    color: var(--clr-base);
  }
}

.filter-input {
  margin: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1rem;
  color: var(--clr-base-l200);
  line-height: 1;
  background-color: var(--clr-base-d550);
  border: 1px solid var(--clr-base-d400);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  &:focus {
    outline: 0;
    border-color: var(--clr-base-d250);
  }
}

.sort-select,
.order-select {
  flex-grow: 1;
  margin: 0;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  font-size: 0.85rem;
  color: var(--clr-base-l200);
  line-height: 1;
  background-color: var(--clr-base-d550);
  border: 1px solid var(--clr-base-d400);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  &:focus {
    outline: 0;
    border-color: var(--clr-base-d250);
  }
}

// tag cloud
.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  margin: 1rem 0;
  .tag {
    span.tag-name {
      display: inline-block;
    }
    span.tag-count {
      display: inline-block;
      margin-left: 0.5rem;
      background-color: var(--clr-base-d250);
      min-width: 1.9rem;
      border-radius: 4px;
      font-size: 0.85rem;
      padding: 0.15em 0.5em;
    }
    &:focus {
      outline-width: 1px;
      outline-style: solid;
      outline-color: var(--clr-base-d100);
    }
    &.active {
      span.tag-count {
        background-color: var(--clr-base-d300);
      }
      &:focus {
        outline-width: 1px;
        outline-style: solid;
        outline-color: var(--clr-base);
      }
      // &.current {
      //   border: 1px solid var(--clr-link-d200);
      // }
      .current {
        color: var(--clr-base-l500);
      }
    }
    &.hidden {
      display: none;
    }
    // &.current {
    //   border: 1px solid var(--clr-base-d200);
    // }
    .current {
      color: var(--clr-base-l100);
      font-size: 0.85rem;
    }
  }
}

// tag navigation
.tag-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  .page-card {
    padding: 0.75rem;
    border: 1px solid var(--clr-base-d260);
    border-radius: 6px;
    background-color: var(--clr-base-d550);
    flex: 1 1 19ch;
    &:hover {
      border-color: var(--clr-base-d250);
      background-color: var(--clr-base-d525);
      transition: all 0.5s ease;
    }
    a {
      text-decoration: none;
    }
    .page-card-title {
      display: block;
      padding: 0 0 0.4rem;
      text-align: center;
      font-size: 1rem;
      font-weight: 600;
      color: var(--clr-base-l200);
      line-height: 1;
      text-decoration: none;
      &:hover {
        color: var(--clr-base-l500);
      }
    }
    .page-card-filename {
      display: block;
      // border-bottom: 1px solid var(--clr-base-d300);
      text-decoration: none;
      text-align: center;
      font-size: 0.85rem;
      font-weight: 600;
      padding: 0 0 0.4rem;
      // color: var(--clr-base-d230);
      color: var(--clr-base-d75);
      &:hover {
        color: var(--clr-base-l300);
      }
    }
    .page-card-date {
      display: block;
      border-bottom: 1px solid var(--clr-base-d300);
      text-decoration: none;
      text-align: center;
      font-size: 0.85rem;
      font-weight: 400;
      // color: var(--clr-base-d230);
      color: var(--clr-base-d75);
      padding: 0 0 0.6rem;
      &:hover {
        color: var(--clr-base-l300);
      }
      .bi {
        margin-right: 0.3em;
      }
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.75rem;
      margin: 1rem 0 0;
      .tag {
        background-color: var(--clr-base-d300);
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1;
        margin: 0;
        padding: 0.3em 0.6em;
        border-radius: 4px;
        cursor: pointer;
        &:focus {
          outline-width: 1px;
          outline-style: solid;
          outline-color: var(--clr-base-d100);
        }
        &.active {
          color: var(--clr-base-l500);
          background-color: var(--clr-base-mark-active);
          &:hover {
            color: var(--clr-base-l500);
            // background-color: var(--clr-base-d400);
          }
          &:focus {
            outline-width: 1px;
            outline-style: solid;
            outline-color: var(--clr-base);
          }
        }
        &:hover {
          // color: var(--clr-base-l500);
          background-color: var(--clr-base-mark-hover);
        }
        .bi {
          margin-right: 0.3em;
        }
      }
    }
    &.hidden {
      display: none;
    }
    &.filter-hidden {
      display: none;
    }
    &.current {
      border-color: var(--clr-base-l100);
      background-color: var(--clr-base-d500);
      .page-card-title {
        color: var(--clr-base-l500);
      }
      .page-card-filename {
        color: var(--clr-base-l300);
      }
      .page-card-date {
        color: var(--clr-base-l300);
      }
    }
  }
}


// cookie consent
.dialog-centered {
  align-self: unset;
}
.cookie-consent {
  padding: 0;
  background-color: var(--clr-base-d500);
  border: none;
}
.cookie-consent-button {
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: var(--clr-base-mark-active);
  color: var(--clr-base-l500);
  border: none;
  border-radius: 6px;
  line-height: 1;
  font-size: 1.125rem;
  // font-size: clamp(0.9rem, 4vw, 1.125rem);
  font-size: clamp(0.9rem, 1.5vw, 1.125rem);
  padding: 0.5rem 0.5rem;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    background-color: var(--clr-base-mark-hover);
  }
  &:focus {
    outline: 1px solid var(--clr-base-d50) !important;
  }
}

// print styles
@media print {
  html, body {
    background-color: #fff;
  }
  .navbar {
    display: none;
  }
  .page {
    margin: 0;
    padding: 0;
    > .mtime,
    > .content,
    > .footer {
      background-color: #fff !important;
      border: 0 none transparent !important;
      max-width: none;
      padding: 0;
    }
    > .content {
      h1 {
        font-weight: 400;
      }
    }
    > .footer {
      display: none;
    }
  }
  .page>.content pre[class*=language-], .cookie-consent pre[class*=language-] {
    padding-top: 1rem;
  }
  div.code-toolbar>.toolbar {
    display: none;
  }
  .page>.content div.code-toolbar {
    page-break-inside: avoid;
  }
  // .page>.content :not(pre)>code[class*=language-], .page>.content pre[class*=language-] {
  //   page-break-inside: avoid;
  // }
  code[class*=language-], pre[class*=language-] {
    font-size: 0.75rem !important;
  }
}